@charset "utf-8";

/*section*/
	.section{}
	.section .center{}
	.section .center .match{}
	.section .center .match:nth-child(1){margin-top:none;}
	.section .center .match p{font-size:1.3em; font-weight:bold;border-bottom:1px solid #222; padding:5px;}
	.section .center .match img{display:block;margin:10px auto 30px auto; border:1px solid #222;
	                                       box-sizing:border-box; }