@charset "utf-8"
/* character.css */

.section .parallax { 
    /* The image used */
    background: url("images/str1.jpg");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}