@charset "utf-8";

/*section*/
	.section .center .content h3{border-bottom:1px solid #222;  margin-bottom:10px; padding-bottom:5px;}
	.section .center .content img{display:block; margin:0 auto 0 auto;margin-bottom:10px;}
	.section .center .content p{margin-bottom:10px;line-height:1.6em;}
	.section .center .content .ed{margin-bottom:30px;line-height:1.6em;}