@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Roboto');
/*font-family: 'Roboto', sans-serif;
font-family: 'Nanum Gothic', sans-serif;*/

/*reset*/
	*{margin:0px; padding:0px;}
	ul, ol, li{list-style:none;}
	a{text-decoration:none;}
	body{font-family: 'Nanum Gothic', sans-serif;box-sizing:border-box;}

/*top*/
	.top{width:80px; height:80px; position:fixed; right:300px;bottom:100px;background:rgba(0,0,0,0.5); border-radius:50%;}
	.top:hover{background: rgba(0,0,0,0.9);}
	.top a{display:block;line-height:80px;text-align:center; font-size:2em;font-weight:bold; color:white;}
	.top a:hover{}

/*.pop*/
	.pop{width:600px;min-height: 400px; border:5px solid gold;position: absolute;top:30px;left:400px;z-index:999;}
	.pop img{width: 100%;height: 100%;vertical-align:top;}
	.pop .bt{display:block;text-align: center;width: 100%;height: 35px;border:none;outline:none;
				background: #fff;padding:5px;cursor: pointer;font-size: 1em;}
	.pop .bt:hover{font-weight: bold;background:gold;font-size: 1.2em;}

/*layout*/
	.out{}
	.out .header{}
	.out .banner{}
	.out .section{}
	.out .footer{}
	.center{width:960px; margin:0 auto 0 auto;}

/*header*/
	.header{}
	.header .center{}
	.header .center:after{content:"";display:block;clear:both;}
	.header .center .logo{float:left; width:20%;margin:2px auto;}
	.header .center .logo a{display:block;margin:0 auto; }
	.header .center .logo a img{display:block;margin:0 auto;width:100px;}

	.header .center .top_menu{float:right;}
	.header .center .top_menu a{font-size:0.7em; text-transform:capitalize;color:#000;}
	.header .center .top_menu a:after{content:" | ";}
	.header .center .top_menu a:nth-child(2):after{content:"";}
	.header .center .top_menu a:hover{color:blue;}

	.header .center .gnb_menu{float:right; width:80%;}
	.header .center .gnb_menu .gnb{}
	.header .center .gnb_menu .gnb:after{content:""; display:block; clear:both;}
	.header .center .gnb_menu .gnb li{float:left;margin:67px 0px 0px 0px;width:20%;text-align:center;}
	.header .center .gnb_menu .gnb li a{font-size:1.4em; display:block; padding:10px 0 20px 0; transition:0.2s; color:#222;}
	.header .center .gnb_menu .gnb li:hover > a{font-weight:bold;border-top:3px solid #222;}

	.header .center .gnb_menu .gnb li .sub{position: absolute;margin:0;height:100px;left: -10px;}
	.header .center .gnb_menu .gnb li .sub:after{content:""; display:block; clear:both;}
	.header .center .gnb_menu .gnb li .sub li{display:block;width:192px;float:none;margin:0px;border:none;padding:0px;	}
	.header .center .gnb_menu .gnb li .sub li a{font-size: 1.1em;color:#fff;padding:20px 0px;}
	.header .center .gnb_menu .gnb li .sub li a:hover{font-weight:600;border-top:none;transition:0s;}

	.bc{background:#000;opacity: 0.8;width:100%;height:122px;position: absolute;top: 151px;}

	hr{width:100%;position: absolute;top:151px;border-color:#222 transparent transparent transparent;}

	.active{font-weight:bold;border-top:3px solid #222;}


/* banner */
	.banner{padding-top:10px;}
	.banner .center{border:1px solid #ccc; box-sizing:border-box;margin-bottom:10px;}
	.banner .center img{vertical-align:top;}

/*section*/
	

/*footer*/
	.footer{border-top:1px solid #bbb; box-shadow:0px -1px 1px #bbb;}
	.footer .center{padding:10px;}
	.footer .center p{font-size:0.9em; text-align:center;}


	